<div class="flex flex-col items-center">
    <button routerLink="/homepage"
        class=" text-white text-lg px-2 py-1 text-center border-none m-3  hover:transform hover:scale-105 transition-all self-start"><i
            class="fa-solid fa-arrow-left"></i>
    </button>

    <div
        class="flex flex-col justify-center items-start py-12 px-6 mx-4 m-6 bg-white rounded shadow-md drop-shadow-md max-w-lg">
        <div class="flex gap-10 items-start mb-4">
            <div class="flex flex-col">
                <h3 class="text-2xl">{{task.title}}</h3>
                <!-- <p>{{task.createdAt | date}}</p> -->
                <p class="text-xs text-gray-500">created: <span class="text-gray-700 text-sm">Jan 2, 2022</span></p>
            </div>
            <button type="button" routerLink="/edit-task/{{task.taskId}}"><i class="fa-solid fa-edit"></i></button>
        </div>
        <div class="flex gap-10 items-start mb-4">
            <p class="text-xs">status: <span class="text-sm" *ngIf="task.done == true">done</span><span class="text-sm" *ngIf="task.done == false">undone</span></p>

            <p *ngIf="task.priority" class="text-xs">Priority: <span class="text-sm">{{task.priority}}</span></p>
            <p class="text-xs ">Deadline: <span class="text-red-500 text-sm">{{task.deadline | date}}</span></p>
        </div>
        <p class="text-xs" *ngIf="task.description">Description: <span class="text-lg">{{task.description}}</span> </p>
        <p class="text-xs" *ngIf="task.attachLink.link">Attached link <a href="{{task.attachLink.link}}" target="_blank"
                class="text-blue-500 text-sm">{{task.attachLink.shortLink}}</a></p>

        <img src="{{task.imageUrl}}" height="200" >

    </div>
</div>