<div class="d-flex">

 <!-- sidebar -->
 <aside class="bg-light p-5 w-8">
    <label for="completion">Completion</label>
      <fieldset id="completion">
        <input type="radio" value="done" name="completion"> Done <br>
        <input type="radio" value="undone" name="completion"> Undone <br>
        <input type="radio" value="all" name="completion"> All <br>
      </fieldset>
    <label for="priority">Priority</label>
      <fieldset id="priority">
        <input type="radio" value="low" name="priority"> Low <br>
        <input type="radio" value="medium" name="priority"> Medium <br>
        <input type="radio" value="high" name="priority"> High <br>
      </fieldset>
      <label for="date">Date</label>
      <fieldset id="date">
        <input type="radio" value="today" name="date"> Today <br>
        <input type="radio" value="yesterday" name="date"> Yesterday <br>
      </fieldset>
  </aside>
  
  <main>
    <div>
        <button><i class="fa-solid fa-search"></i></button>
        <input type="search" name="search" id="search" placeholder="search task">
       </div>
   <h2>All Tasks</h2>
  <div class="task">
    <p class="title">The first</p>
    <small>priority:high</small>
    <button routerLink = "/task">more</button>
    <button>delete</button>
  </div>

<ul class="tasks">
  <li *ngFor="let task of tasks">
    <button type="button" (click)="onSelect(task)">
      <span class="badge">{{task.taskId}}</span>
      <span class="name">{{task.title}}</span>
      <span class="name">{{task.priority}}</span>
    </button>
  </li>
  <div *ngIf="selectedTask">
    <h2>{{selectedTask.title | uppercase}} Details</h2>
    <div>: {{selectedTask.priority}}</div>
    <div>: {{selectedTask.description}}</div>
  </div>
</ul>
  </main>
</div>