<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="images/logo.svg" height="28" alt="B.Motivated">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav collapse navbar-collapse d-lg-flex justify-content-center" id="navbarCollapse">
      <a href="#" class="nav-item nav-link mx-4">About</a>
      <a href="#" class="nav-item nav-link mx-4">Messages</a>
      <button type="button" class="btn btn-primary mx-4">Motivate</button>
    </div>
  </div>
</nav>

<!-- Background image -->
<!-- <div class="text-center bg-image" style="
  height: 500px;
">

  <img src="../assets/images/john-fowler-RsRTIofe0HE-unsplash.jpg" alt="" class="img-fluid" style="width: 100%; height: 500px;">

</div> -->
<!-- Background image -->