<header>
  <!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="images/logo.svg" height="28" alt="ToDo.app">
    </a>
  </div>
</nav>

</header>

 <!-- sidebar -->
 <aside>
  <label for="completion">Completion</label>
    <fieldset id="completion">
      <input type="radio" value="done" name="completion"> Done <br>
      <input type="radio" value="undone" name="completion"> Not done <br>
      <input type="radio" value="all" name="completion"> All <br>
    </fieldset>
  <label for="priority">Priority</label>
    <fieldset id="priority">
      <input type="radio" value="low" name="priority"> Low <br>
      <input type="radio" value="medium" name="priority"> Medium <br>
      <input type="radio" value="high" name="priority"> High <br>
    </fieldset>
    <label for="date">Date</label>
    <fieldset id="date">
      <input type="radio" value="today" name="date"> Today <br>
      <input type="radio" value="yesterday" name="date"> Yesterday <br>
    </fieldset>
</aside>

<main>
 <input type="search" name="search" id="search" placeholder="search task">
 <h2>All Tasks</h2>
<div class="task">
  <p class="title">The first <span>priority:high</span></p>
  <button>more</button>
  <button>delete</button>
</div>
</main>