.header-image {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    }

header small{
    /* font-family: 'Fraunces', serif;
    font-weight: 400; */
    font-family: 'Audiowide', cursive;
}

.btn{
    background-color: #d387ab;
}

